li {
  list-style-type: none;
  padding: 5px;
  border: 1px solid black;
}

li:nth-child(even) {
  background-color: lightblue;
}

button {
  margin: 10px 0px;
}

input[type=radio] {
  margin-top: 10px;
}
